body {
   color: #ffffff;
   font-size: 1em;
   font-weight: normal;
   background-color: #5f0404;
   font-family: Arial, Helvetica, sans-serif;
}

header {
   text-align: center;
}

footer {
   margin-top: 50px;
   text-align: center;
   background-color: #5f0404;
   /*
padding: 1px;
box-shadow: 10px 10px 10px 5px #777228;
*/
}

main {
   width: 500px;
   margin: auto;
   padding: 15px;
   border-radius: 15px;
   box-shadow: 10px 10px 10px #f8f674;
   background-color: #e7712d;
}

h1 {
   color: #64624d;
   font-size: 2.5em;
   font-style: normal;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
}

h2 {
   color: #64624d;
   font-size: 2em;
   font-style: normal;
   font-weight: normal;
   font-family: 'Times New Roman', Times, serif;
}

h3 {
   color: #64624d;
   font-size: 1.5em;
   font-style: normal;
   font-weight: normal;
   font-family: 'Times New Roman', Times, serif;
}

h4 {
   color: #64624d;
   font-size: 1em;
   font-style: normal;
   font-weight: normal;
   font-family: 'Times New Roman', Times, serif;
}

h5 {
   color: #64624d;
   font-size: 0.8em;
   font-style: normal;
   font-weight: normal;
   font-family: 'Times New Roman', Times, serif;
}

h6 {
   color: #64624d;
   font-size: 0.8em;
   font-style: normal;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
}

button {
   padding: 15px;
   color: #73ff50;
   font-weight: 800;
   font-size: 2em;
   background-color: #00008b;
   box-shadow: 5px 5px 5px #00ffff;
   font-family: Arial, Helvetica, sans-serif;
}

div#sHraTit {
   margin: 15px;
   width: 500px;
   height: 50px;
   /*color: #d5e72d;*/
   font: normal 20px Arial;
   text-align: center;
   /*
line-height: 150px;
background-color: #ff3c00;
*/
}

div#sImgAtu {
   margin: 15px;
   width: 500px;
   height: 300px;
   font: normal 20px Arial;
   text-align: center;
   /*
color: #d5e72d;
line-height: 150px;
background-color: #ff3c00;
*/
}


#sHraAtu {
   font-size: 1em;
}